{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="main">

    <!-- breadcrumb -->
    <div class="site-breadcrumb" style="background: url({% static 'assets/img/breadcrumb/02.jpg' %})">
    </div>


 

    <!-- forgot password -->
    <div id="scroll" class="login-area py-120">
        <div class="container">

            {% if messages %}
             {% for message in messages %}
             <div class="alert alert-info">
                {{messages}}
             </div>
             {% endfor %}
             {% endif %}



            <div class="col-md-5 mx-auto">
                <div class="login-form">
                    <div class="login-header">
                        <img src="{% static 'assets/img/logo/logo-dark.png' %}" alt="">
                        <p>Change Password</p>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{user_id}}">
                        <div class="form-group">
                            <label>New Password</label>
                            <div class="form-group-icon">
                                <input name="password" type="text" class="form-control" placeholder="New Password">
                                <i class="far fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <div class="form-group-icon">
                                <input name="cpassword" type="password" class="form-control" placeholder="Confirm Password">
                                <i class="far fa-lock"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <button type="submit" class="theme-btn"><i class="far fa-key"></i>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- forgot password end -->



</main>
{% block js %}
<script>
    // Add JavaScript code to scroll to the desired section on page load
    window.addEventListener('DOMContentLoaded', function () {
        const containerSection = document.querySelector('#scroll');
        if (containerSection) {
            containerSection.scrollIntoView({ behavior: 'smooth' });
        }
    });
</script>
{% endblock %}
{% endblock %}